In [ ]:
# -----------------------------
# Dataset Cleaning Template
# -----------------------------

# 1. Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

# -----------------------------
# 2. Load the dataset
df = pd.read_csv(r"C:\Users\jsrv7\Downloads\archive\GlobalWeatherRepository.csv")

# Preview the first few rows
print("First 5 rows of dataset:")
display(df.head())

# -----------------------------
# 3. Explore the dataset
print("\nDataset Info:")
df.info()

print("\nSummary Statistics:")
display(df.describe())

print("\nMissing Values per Column:")
print(df.isnull().sum())

print("\nNumber of duplicate rows:", df.duplicated().sum())

# -----------------------------
# 4. Handle Missing Values
# Option 1: Drop rows with missing data
# df.dropna(inplace=True)

# Option 2: Fill missing values
for col in df.select_dtypes(include=np.number).columns:
    df[col].fillna(df[col].mean(), inplace=True)  # Fill numeric columns with mean

for col in df.select_dtypes(include='object').columns:
    df[col].fillna('Unknown', inplace=True)       # Fill categorical columns with 'Unknown'

# -----------------------------
# 5. Remove Duplicates
df.drop_duplicates(inplace=True)

# -----------------------------
# 6. Convert Data Types (example)

# -----------------------------
# 7. Normalize / Scale numeric columns (optional)
scaler = MinMaxScaler()
numeric_cols = df.select_dtypes(include=np.number).columns
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

# -----------------------------
# 8. Handle Outliers (optional, using IQR method)
for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    df = df[~((df[col] < (Q1 - 1.5 * IQR)) | (df[col] > (Q3 + 1.5 * IQR)))]

# -----------------------------
# 9. Save cleaned dataset
df.to_csv("cleaned_dataset.csv", index=False)
print("\nCleaned dataset saved as 'cleaned_dataset.csv'")

# -----------------------------
# 10. Final check
print("\nCleaned Dataset Info:")
df.info()

First 5 rows of dataset:

,country,location_name,latitude,longitude,timezone,last_updated_epoch,last_updated,temperature_celsius,temperature_fahrenheit,condition_text,...,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,sunrise,sunset,moonrise,moonset,moon_phase,moon_illumination
0,Afghanistan,Kabul,34.52,69.18,Asia/Kabul,1715849100,2024-05-16 13:15,26.6,79.8,Partly Cloudy,...,8.4,26.6,1,1,04:50 AM,06:50 PM,12:12 PM,01:11 AM,Waxing Gibbous,55
1,Albania,Tirana,41.33,19.82,Europe/Tirane,1715849100,2024-05-16 10:45,19.0,66.2,Partly cloudy,...,1.1,2.0,1,1,05:21 AM,07:54 PM,12:58 PM,02:14 AM,Waxing Gibbous,55
2,Algeria,Algiers,36.76,3.05,Africa/Algiers,1715849100,2024-05-16 09:45,23.0,73.4,Sunny,...,10.4,18.4,1,1,05:40 AM,07:50 PM,01:15 PM,02:14 AM,Waxing Gibbous,55
3,Andorra,Andorra La Vella,42.50,1.52,Europe/Andorra,1715849100,2024-05-16 10:45,6.3,43.3,Light drizzle,...,0.7,0.9,1,1,06:31 AM,09:11 PM,02:12 PM,03:31 AM,Waxing Gibbous,55
4,Angola,Luanda,-8.84,13.23,Africa/Luanda,1715849100,2024-05-16 09:45,26.0,78.8,Partly cloudy,...,183.4,262.3,5,10,06:12 AM,05:55 PM,01:17 PM,12:38 AM,Waxing Gibbous,55

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97435 entries, 0 to 97434
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       97435 non-null  object
 1   location_name                 97435 non-null  object
 2   latitude                      97435 non-null  float64
 3   longitude                     97435 non-null  float64
 4   timezone                      97435 non-null  object
 5   last_updated_epoch            97435 non-null  int64
 6   last_updated                  97435 non-null  object
 7   temperature_celsius           97435 non-null  float64
 8   temperature_fahrenheit        97435 non-null  float64
 9   condition_text                97435 non-null  object
 10  wind_mph                      97435 non-null  float64
 11  wind_kph                      97435 non-null  float64
 12  wind_degree                   97435 non-null  int64
 13  wind_direction                97435 non-null  object
 14  pressure_mb                   97435 non-null  float64
 15  pressure_in                   97435 non-null  float64
 16  precip_mm                     97435 non-null  float64
 17  precip_in                     97435 non-null  float64
 18  humidity                      97435 non-null  int64
 19  cloud                         97435 non-null  int64
 20  feels_like_celsius            97435 non-null  float64
 21  feels_like_fahrenheit         97435 non-null  float64
 22  visibility_km                 97435 non-null  float64
 23  visibility_miles              97435 non-null  float64
 24  uv_index                      97435 non-null  float64
 25  gust_mph                      97435 non-null  float64
 26  gust_kph                      97435 non-null  float64
 27  air_quality_Carbon_Monoxide   97435 non-null  float64
 28  air_quality_Ozone             97435 non-null  float64
 29  air_quality_Nitrogen_dioxide  97435 non-null  float64
 30  air_quality_Sulphur_dioxide   97435 non-null  float64
 31  air_quality_PM2.5             97435 non-null  float64
 32  air_quality_PM10              97435 non-null  float64
 33  air_quality_us-epa-index      97435 non-null  int64
 34  air_quality_gb-defra-index    97435 non-null  int64
 35  sunrise                       97435 non-null  object
 36  sunset                        97435 non-null  object
 37  moonrise                      97435 non-null  object
 38  moonset                       97435 non-null  object
 39  moon_phase                    97435 non-null  object
 40  moon_illumination             97435 non-null  int64
dtypes: float64(23), int64(7), object(11)
memory usage: 30.5+ MB

Summary Statistics:

,latitude,longitude,last_updated_epoch,temperature_celsius,temperature_fahrenheit,wind_mph,wind_kph,wind_degree,pressure_mb,pressure_in,...,gust_kph,air_quality_Carbon_Monoxide,air_quality_Ozone,air_quality_Nitrogen_dioxide,air_quality_Sulphur_dioxide,air_quality_PM2.5,air_quality_PM10,air_quality_us-epa-index,air_quality_gb-defra-index,moon_illumination
count,97435.000000,97435.000000,9.743500e+04,97435.000000,97435.000000,97435.000000,97435.000000,97435.000000,97435.000000,97435.000000,...,97435.000000,97435.000000,97435.000000,97435.000000,97435.000000,97435.000000,97435.000000,97435.000000,97435.000000,97435.000000
mean,19.146115,22.112882,1.737542e+09,22.788837,73.021634,8.241385,13.266501,170.863827,1013.967650,29.941811,...,18.555623,517.522988,62.769735,15.819119,11.268231,26.167342,53.765763,1.760979,2.762200,49.699636
std,24.457297,65.819599,1.252229e+07,8.893859,16.008748,7.881144,12.681089,102.719479,11.381238,0.336032,...,14.682107,844.567024,32.260021,26.074344,40.805656,40.829209,164.167510,0.981699,2.567807,35.089898
min,-41.300000,-175.200000,1.715849e+09,-24.900000,-12.800000,2.200000,3.600000,1.000000,947.000000,27.960000,...,3.600000,-9999.000000,0.000000,0.000000,-9999.000000,0.168000,-1848.150000,1.000000,1.000000,0.000000
25%,3.750000,-6.836100,1.726743e+09,18.100000,64.600000,4.000000,6.500000,83.000000,1010.000000,29.830000,...,10.500000,238.650000,42.000000,1.295000,0.800000,7.400000,10.900000,1.000000,1.000000,15.000000
50%,17.250000,23.316700,1.737541e+09,25.000000,77.000000,6.900000,11.200000,165.000000,1013.000000,29.920000,...,15.900000,327.450000,60.000000,4.995000,2.405000,15.170000,22.200000,1.000000,2.000000,50.000000
75%,40.400000,50.580000,1.748422e+09,28.300000,82.900000,11.400000,18.400000,256.000000,1017.500000,30.050000,...,24.400000,507.400000,79.000000,17.945000,9.065000,29.970000,46.065000,2.000000,3.000000,85.000000
max,64.150000,179.220000,1.759132e+09,49.200000,120.600000,1841.200000,2963.200000,360.000000,3006.000000,88.770000,...,2970.400000,38879.398000,480.700000,427.700000,521.330000,1614.100000,6037.290000,6.000000,10.000000,100.000000

Missing Values per Column:
country                         0
location_name                   0
latitude                        0
longitude                       0
timezone                        0
last_updated_epoch              0
last_updated                    0
temperature_celsius             0
temperature_fahrenheit          0
condition_text                  0
wind_mph                        0
wind_kph                        0
wind_degree                     0
wind_direction                  0
pressure_mb                     0
pressure_in                     0
precip_mm                       0
precip_in                       0
humidity                        0
cloud                           0
feels_like_celsius              0
feels_like_fahrenheit           0
visibility_km                   0
visibility_miles                0
uv_index                        0
gust_mph                        0
gust_kph                        0
air_quality_Carbon_Monoxide     0
air_quality_Ozone               0
air_quality_Nitrogen_dioxide    0
air_quality_Sulphur_dioxide     0
air_quality_PM2.5               0
air_quality_PM10                0
air_quality_us-epa-index        0
air_quality_gb-defra-index      0
sunrise                         0
sunset                          0
moonrise                        0
moonset                         0
moon_phase                      0
moon_illumination               0
dtype: int64

Number of duplicate rows: 0

C:\Users\jsrv7\AppData\Local\Temp\ipykernel_11476\3520362212.py:38: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)  # Fill numeric columns with mean
C:\Users\jsrv7\AppData\Local\Temp\ipykernel_11476\3520362212.py:41: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('Unknown', inplace=True)       # Fill categorical columns with 'Unknown'

Cleaned dataset saved as 'cleaned_dataset.csv'

Cleaned Dataset Info:
<class 'pandas.core.frame.DataFrame'>
Index: 32831 entries, 0 to 97434
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       32831 non-null  object
 1   location_name                 32831 non-null  object
 2   latitude                      32831 non-null  float64
 3   longitude                     32831 non-null  float64
 4   timezone                      32831 non-null  object
 5   last_updated_epoch            32831 non-null  float64
 6   last_updated                  32831 non-null  object
 7   temperature_celsius           32831 non-null  float64
 8   temperature_fahrenheit        32831 non-null  float64
 9   condition_text                32831 non-null  object
 10  wind_mph                      32831 non-null  float64
 11  wind_kph                      32831 non-null  float64
 12  wind_degree                   32831 non-null  float64
 13  wind_direction                32831 non-null  object
 14  pressure_mb                   32831 non-null  float64
 15  pressure_in                   32831 non-null  float64
 16  precip_mm                     32831 non-null  float64
 17  precip_in                     32831 non-null  float64
 18  humidity                      32831 non-null  float64
 19  cloud                         32831 non-null  float64
 20  feels_like_celsius            32831 non-null  float64
 21  feels_like_fahrenheit         32831 non-null  float64
 22  visibility_km                 32831 non-null  float64
 23  visibility_miles              32831 non-null  float64
 24  uv_index                      32831 non-null  float64
 25  gust_mph                      32831 non-null  float64
 26  gust_kph                      32831 non-null  float64
 27  air_quality_Carbon_Monoxide   32831 non-null  float64
 28  air_quality_Ozone             32831 non-null  float64
 29  air_quality_Nitrogen_dioxide  32831 non-null  float64
 30  air_quality_Sulphur_dioxide   32831 non-null  float64
 31  air_quality_PM2.5             32831 non-null  float64
 32  air_quality_PM10              32831 non-null  float64
 33  air_quality_us-epa-index      32831 non-null  float64
 34  air_quality_gb-defra-index    32831 non-null  float64
 35  sunrise                       32831 non-null  object
 36  sunset                        32831 non-null  object
 37  moonrise                      32831 non-null  object
 38  moonset                       32831 non-null  object
 39  moon_phase                    32831 non-null  object
 40  moon_illumination             32831 non-null  float64
dtypes: float64(30), object(11)
memory usage: 10.5+ MB